<div id="wrapper">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Mongo Scraper</a>
    &nbsp;
    <a href="/"><button class="btn btn-default">&nbsp;&nbsp; Home &nbsp;&nbsp;</button></a>
    &nbsp;&nbsp;
    <button class="btn btn-success" id="view-saved-button">View All Saved Articles</button>
    <button class="btn btn-danger" id="erase-saved-button">Erase All Saved Articles</button>
    &nbsp;
    <a class="navbar-brand" href="#"><i>The New York Times</i></a>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Saved Articles</h1>
        <h2><i>The New York Times</i></h2>
        <div id="saved-articles">
        </div>
        <div id="notes">
        </div>
      </div>
    </div>
  </div>
</div>
