body { 
    background-color: black;
    color: white;
    background-image: url(/assets/img/newyorktimes.jpg);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    }
  #articles {
    display: inline-block;
    width: 70%;
  }
  #notes {
    float: right;
    width: 26%;
    position: sticky;
    top: 0;
  }
  textarea, input {
    display: block;
    width: 100%;
    background-color: lightgray;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 300px;
    font-size: 18px;
  }
  hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
 }